@charset "UTF-8";

/* base */
html {
   font-size: 62.5%;
}
a {
	text-decoration:underline;
}
p {
	margin-bottom:10px;
	line-height:18px;
}
/* end of base */

body, input, a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #333;
	font-size:12px;
}

#content {
	width:600px;
	margin:20px 0 20px 40px;
}

.myform {
	padding:20px 0px;
}
.myform div.line {
	clear:both;
	min-height:50px;
	margin-bottom:15px;
}
.myform label {
	display:block;
	font-weight:bold;
	margin-bottom:5px;
}
