hr + h3, hr + h4 {
    margin-top: 0;
}
hr {
    margin-bottom: .4em;
}


ul#nav li {
    padding:0;
}

.myform {
    padding:20px 0px;
}
.myform div.line {
    clear:both;
    min-height:50px;
    margin-bottom:15px;
}
.myform label {
    display:block;
    font-weight:bold;
    margin-bottom:5px;
}

#events_container {
    font-size:.8em;
}

